In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

## Visit the NASA mars news site

In [3]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

## Scrape the NASA Mars News
* Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
* Assign the text to variables that you can reference later.

In [4]:
# Parse HTML with Beautiful Soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [29]:
# Extract article title and paragraph text
article = soup.find("div", class_='list_text')
news_title = article.find("div", class_="content_title").text
news_p = article.find("div", class_ ="article_teaser_body").text
print(news_title)
print(news_p)

A Year of Surprising Science From NASA's InSight Mars Mission
A batch of new papers summarizes the lander's findings above and below the surface of the Red Planet.

## JPL Space Images Featured Image

In [5]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [6]:
# Parse HTML with Beautiful Soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [32]:
# Scrape the URL
base_url = 'https://www.jpl.nasa.gov'
full_image = soup.find('a', id='full_image')
full_href = full_image.get('data-fancybox-href')
featured_image_url = base_url + full_href
browser.quit()
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19980_ip.jpg'

## Mars Weather

In [7]:
# Visit the Mars Weather twitter account 
mars_url = 'https://twitter.com/marswxreport?lang=en'
browser = Browser('chrome', headless=False)
browser.visit(mars_url)

In [8]:
# Parse HTML with Beautiful Soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [40]:
# Scrape the latest Mars weather tweet
mars_weather = soup.find_all('span' )

for s in mars_weather:
    if len(s)!=0:
        tweet=s.text
        if "InSight" in tweet:
            print(tweet)

InSight sol 442 (2020-02-23) low -94.1ºC (-137.3ºF) high -10.5ºC (13.0ºF)
winds from the SSE at 6.2 m/s (13.8 mph) gusting to 21.1 m/s (47.3 mph)
pressure at 6.30 hPa
InSight sol 441 (2020-02-22) low -95.1ºC (-139.1ºF) high -13.5ºC (7.7ºF)
winds from the SSE at 6.2 m/s (13.8 mph) gusting to 21.0 m/s (47.0 mph)
pressure at 6.30 hPa
InSight sol 440 (2020-02-21) low -95.2ºC (-139.3ºF) high -13.0ºC (8.6ºF)
winds from the W at 6.0 m/s (13.4 mph) gusting to 23.7 m/s (52.9 mph)
pressure at 6.30 hPa
InSight sol 439 (2020-02-20) low -94.7ºC (-138.4ºF) high -9.3ºC (15.2ºF)
winds from the SSE at 6.5 m/s (14.6 mph) gusting to 23.2 m/s (51.9 mph)
pressure at 6.30 hPa

## Mars Hemispheres

In [9]:
# Visit the USGS Astrogeology site 
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser = Browser ('chrome', headless=False)
browser.visit(hemispheres_url)

In [10]:
# Links to the hemispheres 
browser.visit(hemispheres_url)
links = browser.find_by_css('.description .itemLink')

In [11]:
# Dictionary to store the data 
hemisphere_image_urls = []
hrefs = []
titles = []
for link in links:
    hrefs.append(link['href'])
    titles.append(link.text)

current_index = 0
for href in hrefs:
    browser.visit(href)
    # determine url for image
    css_image = '.downloads ul li a'
    image_link = browser.find_by_css(css_image)[0]
    hemisphere_image_urls.append({"title" : titles[current_index], "img_url" : image_link['href']})
    current_index += 1
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [12]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [16]:
# Append the dictionary with the image url 
hemisphere_image_urls = []

hemis_titles = soup.find_all('h3')

for i in range(len(hemis_titles)):
    hemis_title = hemis_titles[i].text
    print(hemis_title)
    
    hemis_images = browser.find_by_tag('h3')
    hemis_images[i].click()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    img_url = soup.find('img', class_='wide-image')['src']
    img_url = "https://astrogeology.usgs.gov" + img_url
    print(img_url)
    
    hemis_dict = {"title": hemis_title, "img_url":img_url}
    hemisphere_image_urls.append(hemis_dict)
    
    browser.back()

Download
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg
FGDC: xml metadata
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
Related Products
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
Valles Marineris Hemisphere Unenhanced
https://astrogeology.usgs.gov/cache/images/8981a6d7057a7634dc312c0448f462c1_valles_marineris_unenhanced.tif_full.jpg
Syrtis Major Hemisphere Unenhanced
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/4951731d09d453e340fccf70e43c5933_syrtis_major_unenhanced.tif_full.jpg
Schiaparelli Hemisphere Unenhanced
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/0eb84c5fa8ded69d32e9f213497a1960_schiaparelli_unenhanced.tif_full.jpg

## Mars Facts

In [13]:
import pandas as pd

In [14]:
# Mars Facts webpage 
url = 'https://space-facts.com/mars/'

In [16]:
# Use Pandas to convert the data to a HTML table 
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
# Table headers
df = tables[1]
df.columns = ["Comparison", "Mars", "Earth"]
df.head()

           Comparison             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days

In [18]:
# Index
df.set_index('Comparison', inplace=True)
df.head()

                               Mars            Earth
Comparison
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days

In [19]:
df.to_html('table.html')

In [20]:
browser.quit()